<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Do It's - login</title>
	</head>
	<body>
		<div class="login">
			<form class="login_form" method="post">
				<legend>Яка ваша роль в університеті?</legend>
        		<input type="radio" name="university_role" value="student">Я студент<br>
        		<input type="radio" name="university_role" value="teacher">Я викладач<br>

				<label for="email"><b>Введіть електронну адресу</b></label>
    			<input type="text" placeholder="Електронна адреса" name="email" required><br>

    			<label for="password"><b>Введіть пароль</b></label>
    			<input type="password" placeholder="Пароль" name="password" required><br>

    			<input type="submit" value="Увійти">
			</form>
		</div>
	</body>
</html>