<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Do It's - login</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<div class="login">
			<form class="login_form" method="post">
				<div class="log_pos">
				<label class="login_text" for="admin_name"><b>Ім'я адміністратора</b></label>
    			<input class="login_win" type="text" placeholder="iм'я адміністратора" name="admin_name" required><br>
</div>
<div class="log_pos">
    			<label class="login_text" for="password"><b>Пароль</b></label>
    			<input class="login_win" type="password" placeholder="Пароль" name="password" required><br>
</div>
<div class="log_pos">
    			<input class="login_btn" type="submit" value="Увійти">
    		</div>
			</form>
		</div>
	</body>
</html>