<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Do It's - login</title>
	</head>
	<body>
		<div class="login">
			<form class="login_form" method="post">
				<label for="admin_name"><b>Введіть iм'я адміністратора</b></label>
    			<input type="text" placeholder="iм'я адміністратора" name="admin_name" required><br>

    			<label for="password"><b>Введіть пароль</b></label>
    			<input type="password" placeholder="Пароль" name="password" required><br>

    			<input type="submit" value="Увійти">
			</form>
		</div>
	</body>
</html>