<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="tabl_pos">
    <table>
        <tr>
            <td></td>
            <td>Понеділок</td><td>Вівторок</td><td>Середа</td><td>Четверг</td><td>П'ятниця</td>
        </tr>
        <tr>
            <td>Перша пара</td>
            {% for subject in schedule %}
                {% if subject.lesson_number == '1' %}
                    {% if subject.day == 'Понеділок'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '1' %}
                    {% if subject.day == 'Вівторок'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '1' %}
                    {% if subject.day == 'Середа'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '1'%}
                    {% if subject.day == 'Четверг'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '1' %}
                    {% if subject.day == 'П`ятниця'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>Друга пара</td>
            {% for subject in schedule %}
                {% if subject.lesson_number == '2' %}
                    {% if subject.day == 'Понеділок'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '2' %}
                    {% if subject.day == 'Вівторок'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '2' %}
                    {% if subject.day == 'Середа'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '2'%}
                    {% if subject.day == 'Четверг'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '2' %}
                    {% if subject.day == 'П`ятниця'%}
                        <td>{{subject.subject_name}} {{subject.teacher_name}} {{subject.room_number}}
                                                  {{subject.work_type}} {{subject.week_type}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>Третя пара</td>
            {% for subject in schedule %}
                {% if subject.lesson_number == '3' %}
                    {% if subject.day == 'Понеділок'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '3' %}
                    {% if subject.day == 'Вівторок'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '3' %}
                    {% if subject.day == 'Середа'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '3'%}
                    {% if subject.day == 'Четверг'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '3' %}
                    {% if subject.day == 'П`ятниця'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td>Четверта пара</td>
            {% for subject in schedule %}
                {% if subject.lesson_number == '4' %}
                    {% if subject.day == 'Понеділок'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '4' %}
                    {% if subject.day == 'Вівторок'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '4' %}
                    {% if subject.day == 'Середа'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '4'%}
                    {% if subject.day == 'Четверг'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
                {% if subject.lesson_number == '4' %}
                    {% if subject.day == 'П`ятниця'%}
                        <td>{{subject.day}}{{subject.lesson_number}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>
     <a class="welcome_btn" href="home_student">На головну</a>
</body>
</html>