<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="welcome">
    <p class="welcome_text">Вітаємо cтудента сторонці Do It's!</p>
    <p class="welcome_info">
        Ви вже маєте свій обліковий запис?
    </p>
    <div class="welcome_btn_pos">
        <a class="welcome_btn" href="login_student">Увійти</a>
        <a class="welcome_btn" href="registration_student">Зареєструватись</a>
    </div>
    </div>
</body>
</html>