<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Do It's</title>
	</head>
	<body>
		<div class="welcome">
		<form class="welcome_form" method="post">
			<p>Вітаємо вас на сторонці Do It's!
				Це онлайн ресурс створенний для того щоб полгшити життя студентів та викладачів Національного університету ітулектуальних технологій та зв'язку ім. О.С. Попова. 
			</p>
			<a href="login_student">Увійти</a> 
			<a href="registration_student">Зареєструватись</a> 
		</form>
		</div>
	</body>
</html>